#windoned {
  min-height: 100vh;
  background-color: rgb(36, 36, 73);
  color: white;
}
.tablero {
  background-color: white;
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}
.tablero div {
  border: 1px solid black;
  width: 40px;
  height: 40px;
}
.tablero-prueba {
  background-color: white;
  width: 400px;
  height: 400px;
}
/* NAVES */
.ship div{
  width: 40px;
  height: 40px;
}
.fragata-container {
  width: 80px;
  height: 40px;
  background-color: yellow;
  margin: 10px;
  display: flex;
}
.destructor-container {
  width: 120px;
  height: 40px;
  background-color: orange;
  margin: 10px;
  display: flex;
}
.crucero-container {
  width: 160px;
  height: 40px;
  background-color: orangered;
  margin: 10px;
  display: flex;
}
.battleship-container {
  width: 200px;
  height: 40px;
  background-color: red;
  margin: 10px;
  display: flex;
}
