.square {
  width: 40px;
  height: 40px;
  border: 1px black solid;
  padding: 0px;
  color: black;
}

.hidden,
.shipPlayer2 {
  background-color: #F0F0F0;
}

.miss {
  background-color: #F5D61B;
}

.shipPlayer1 {
  background-color: #3B5E8F;
}

.hit {
  background-color: #A84300;
}