.square {
  width: 40px;
  height: 40px;
  border: 1px black solid;
  padding: 0px;
  color: black;
}

.hidden,
.shipPlayer2 {
  background-color: #F0F0F0;
}

.miss {
  background-color: yellow;
}

.shipPlayer1 {
  background-color: #03e9f4;
}

.hit {
  background-color: #fc160b;
}